#one, #two {
  padding: 50px 0;
}

#one {
  background-color: rgba(100, 0, 100, 1);
  color: white;
}

#two {
  background-color: rgba(0, 200, 200, 1);
  color: black;
}

@media (max-width: 480px) {
  .navbar-nav li {
    text-align: right;
    font-size: 1.25em;
  }
}

.navbar-default, .navbar-default .navbar-nav, .navbar-default .navbar-header, .navbar-default .navbar-brand, .navbar-default .navbar-collapse {
  background-color: hsla(190, 50%, 50%, 1);
}

.navbar-toggle {
  /*background-color: inherit;*/
}

.navbar-default .navbar-toggle:hover {
  background-color: pink;
}
