#one, #two {
  padding: 50px 0;
}

#one {
  background-color: rgba(100, 0, 100, 1);
  color: white;
}

#two {
  background-color: rgba(0, 200, 200, 1);
  color: black;
}

@media (max-width: 480px) {
  .navbar-nav li {
    text-align: right;
    font-size: 1.25em;
  }
}

.navbar-inverse, .navbar-nav, .navbar-header, .navbar-brand, .navbar-collapse {
  background-color: hsla(190, 50%, 50%, 1);
}

.navbar-inverse .navbar-toggle {
  background-color: hsla(10, 50%, 50%, 1);
}

.navbar-inverse .navbar-toggle:hover {
  background-color: hsla(10, 50%, 60%, 1);
}

.navbar-inverse .navbar-nav li a {
  /*color: black;*/
}

.navbar-inverse .navbar-header .navbar-brand {
  /*color: black;*/
}

.navbar-inverse .navbar-header .navbar-brand {
  /*color: black;*/
}
